streamlit
nltk
transformers
openai==0.28
dotenv
docx2text
pdfplumber
python-docx
PyPDF2

# pip install torch --index-url https://download.pytorch.org/whl/cu121
# We need to manually do this, because requirements.txt cannot do it for us.